<ion-header>
  <ion-toolbar>
    <ion-title>記事一覧</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card href="/category">
      <br>
      <ion-card-title>種類別に見る</ion-card-title>
      <br>
    </ion-card>
  </div>
  
  <div *ngFor="let t of articlePage">
      <ion-card [button]="true" routerLink="{{t.path}}">
        <ion-card-header>
          <ion-card-title>{{t.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{t.content}}</ion-card-content>
      </ion-card>
  </div>

</ion-content>
