<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ホーム</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>変なやつのサイト</ion-card-subtitle>
      <ion-card-title>montsp.meへようこそ</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>なんか色々書いてあるサイトです。</p>
      <p>アプリケーションフレームワーク、webフレームワーク?について書いてあります。</p>
      <p>パソコン系の豆知識的なものも書いてあります。</p>
      <p>プログラミング初期をすべてHTML,JS,CSSでやりたい人は読んでみるといいです。</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        主要記事
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
