<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>このサイトについて</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-content>このサイトは、実際に試して面白かったこと等、主に技術系のことを書いています。また、日本にionicの情報が少ないこと、ionicの日本語ドキュメンテーションがわかりにくい部分があるなどの理由から立ち上がったプロジェクトです。情報に誤りや誤字脱字等があった場合はお問い合せまたは以下のメールにてにて運営までご連絡ください。</ion-card-content>
    <ion-card>
      <ion-card-title>メールはこちらです。</ion-card-title>
      <ion-card-content>info@montsp.me</ion-card-content>
    </ion-card>  

  </ion-card>

</ion-content>
