<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>このプロジェクトについて</ion-card-title>
    <ion-card-content>このプロジェクトは、2人で立ち上げた情報発信プロジェクトです。個人情報漏洩したらやばいのでこれ以上の情報は載せませんが、、、</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>執筆者個人について</ion-card-title>
  </ion-card>
  <ion-card>
    <ion-card-title>montsp</ion-card-title>
    <ion-card-content>このサイトのプロジェクトリーダーです。朝大体5時くらいに起きて執筆を進めています。そのため、GMT+2の5時から6時にかけては結構変更が起きる頻度が高くなります。あともう一人は後から招待しました。</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>cookie</ion-card-title>
    <ion-card-content></ion-card-content>
  </ion-card>

</ion-content>
