<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>記事募集</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    <ion-card-title>記事募集をしています。</ion-card-title>
    </ion-card-header>
    <ion-card-content><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeTbP18CLJi_pXFyTkGEFrykojo3XaloG3Et7koYs9oDYGcOw/viewform?embedded=true" width="640" height="927" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe></ion-card-content>
   
  </ion-card>
  

</ion-content>
