<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/articlelist"></ion-back-button>
    </ion-buttons>
    <ion-title>種類</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card href="/category/ionic">
      <ion-card-title><ion-icon name="logo-ionic"></ion-icon>ionic</ion-card-title>
      <ion-card-content>ionicというハイブリットアプリ開発フレームワークについて説明しています。読みたい人はぜひ読んでみてください。</ion-card-content>
      <ion-button shape="round" fill="outline" color="secondary" href="/category/ionic">ionic</ion-button>
    </ion-card>
    <ion-card href="/category/macos">
      <ion-card-title><ion-icon name="logo-apple"></ion-icon>macOS</ion-card-title>
      <ion-card-content>僕はmacOSを使っているので、ちょっとした知恵等を公開しています。</ion-card-content>
      <ion-button shape="round" fill="outline" color="dark" href="/category/macos">macOS</ion-button>
    </ion-card>

</ion-content>
