<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/articlelist"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item><div><h1>ionicの準備</h1> <p>公開日:2022年4月28日</p><p>執筆者:montsp</p></div></ion-item>
    <ion-item><div><h4>種類</h4><ion-button shape="round" fill="outline" color="secondary" href="/category/ionic">ionic</ion-button></div></ion-item>
    <ion-item><div>
      <p>ionicを始めるには、</p>
      <p>・Windows(macを推奨)もしくはMacを搭載したPC</p>
      <p>・Node.js</p><p>・git</p><p>Xcode(macのみ)</p>
      <p>Android Studio</p> <p>エディター(Visual Studio Codeが望ましい)</p> 
      <p>ionic CLI</p><br><h2>Node.jsインストール</h2><p>まず、<a href="https://nodejs.org/ja/">nodejs.org</a>へ行きま</p>
      <img src="https://github.com/montsp/montsp-me-img/blob/main/nodejs.png?raw=true"><p>どちらかをインストールします。(最新版かLTS。)その後は、インストーラーの指示に従ってsインストールしてください。</p><p>ターミナルを開き、node -v　と入力し、バージョン番号が表示されたら成功です。</p>
      <img src="https://raw.githubusercontent.com/montsp/montsp-me-img/main/node%20-v.png"><br>
      <h2>gitインストール(Xcodeをインストールする場合は、この手順は不要です。)</h2>
      <p>まず、<a href="https://git-scm.com">git-scm.com</a>へ行き、ダウンロードします。</p>
      <img src="https://raw.githubusercontent.com/montsp/montsp-me-img/1599634c2ff92778f4cd499a6b7440bdada02d85/git-scm.png">
      <p>node.jsと同様に、ターミナルを開き、git --version　と入力し、バージョン番号が表示されたら成功です。</p>
      <img src="https://raw.githubusercontent.com/montsp/montsp-me-img/300cfa595e3ab049eac8b63822a74f69a6eba1cb/git%20--version.png"><br>
      <h2>Xcode(macのみ)インストール</h2><p>Mac Appstoreを開いて、Xcodeと入力し、インストールします。</p>
      <img src="https://raw.githubusercontent.com/montsp/montsp-me-img/6e179dc6de3376b85e7cc0119b89496274cad974/Xcode.png"><br>
      <h2>Android studioインストール</h2>
      <p><a href="https://developer.android.com/studio">こちらにアクセスし、インストールします。</a></p>
      <img src="https://raw.githubusercontent.com/montsp/montsp-me-img/6e92d00d169113fb8a9ad137bc2d874d5c77133b/androidstudio.png">
      <p>初期設定では、Standardを選ぶと完了です。</p>
      <h2>Visual Studio Codeのインストール</h2>
      <p><a href="https://code.visualstudio.com">こちらにアクセスし、インストールします。</a></p>
      <img src="https://raw.githubusercontent.com/montsp/montsp-me-img/f875638cf36fdd5df8fdeac54eca029cb9dece71/Vscode.png">
      <p>インストールが終わると、VSCodeを起動します。</p>
      <p>ionicのサポート機能と、日本語をインストールします。</p>
      <img src="https://raw.githubusercontent.com/montsp/montsp-me-img/1f3a346009716a05ff3ebf01aebab8c8bfa553e4/angular-pack-VSCode.png">
      <img src="https://github.com/montsp/montsp-me-img/blob/main/ja-pack-VSCode.png?raw=true">
      <h2>ionic CLIのインストール</h2>
      <p>ターミナルを開き、</p>
      <p>npm install -g @ionic/cli</p>
      <p>と入力し、エンターを押すと、@#%#%$^$%T%&とぐしゃぐしゃになってきます。</p>
      <p>インストールが終わった気配が出たら、</p>
      <p>ionic -v</p>
      <p>と叩いて、バージョン番号が表示されたら、成功です。</p>
      <h1>これで準備完了ー😩</h1>
    </div>
    </ion-item>
  </ion-list>

</ion-content>
