<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/articlelist"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item><div><h1>ionicをスタート</h1><p>公開日:2022年4月28日</p><p>執筆者:montsp</p></div></ion-item>
  <ion-item><div><h4>種類</h4><ion-button shape="round" fill="outline" color="secondary" href="/category/ionic">ionic</ion-button></div></ion-item>
  <ion-item>
    <div>
    <h2>
      ionicのプロジェクトを作成
    </h2>
    <h3>GUIから作成（この方が簡単です。）</h3>
    <p>ionic start</p>
    <p>と叩きます。</p>
    <img src="https://raw.githubusercontent.com/montsp-me/montsp-me-img/d56eaea9a86054b8523599b0c25a341365544f1b/ionic%20start.png">
    <p>? Use the app creation wizard? (Y/n)</p>
    <p>と聞かれるので、大文字のYを入力して進みます。</p>
    <img src="https://raw.githubusercontent.com/montsp-me/montsp-me-img/d56eaea9a86054b8523599b0c25a341365544f1b/setup%20wiza-d%3F.png">
    <p>app nameをtekito-</p>
    <p>テンプレートをmenu</p>
    <p>その下をAngularと選択します。(僕はこれしか使えないけど、他のも試してみてください)</p>
    <img src="https://raw.githubusercontent.com/montsp-me/montsp-me-img/d56eaea9a86054b8523599b0c25a341365544f1b/ireteru.png">
    <img src="https://raw.githubusercontent.com/montsp-me/montsp-me-img/d56eaea9a86054b8523599b0c25a341365544f1b/loading.png">
    <img src="https://raw.githubusercontent.com/montsp-me/montsp-me-img/d56eaea9a86054b8523599b0c25a341365544f1b/owatta.png">
    <h3>CUIから作成</h3>
  </div>
</ion-item>

</ion-content>
