<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/articlelist"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item><div><h1>ionicをスタート</h1></div></ion-item>
  <ion-item><div><h4>種類</h4><ion-button shape="round" fill="outline" color="secondary" href="/category/ionic">ionic</ion-button></div></ion-item>
  <ion-item>
    <h2>
      ionicのプロジェクトを作成
    </h2>
    <p></p>
</ion-item>

</ion-content>
