<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>お問い合わせ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    <ion-card-title>お問い合わせはこちらです。</ion-card-title>
    </ion-card-header>
    <ion-card-content><iframe src="https://docs.google.com/forms/d/e/1FAIpQLScnaBd-aYEQyZk7hzuKj9Fy3hYuySK8dbG2sbYQ5wJCz0bsQQ/viewform?embedded=true" width="640" height="832" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe></ion-card-content>
  </ion-card>

</ion-content>
