<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ionicとはなんだー</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div><p>ionicとは、webサイトを作れる人はアプリも作れてしまうといった、HTMLやJavascript(正確にはJavascriptの拡張言語)が基本となっているアプリ開発フレームワークです。</p><p>具体的には、</p><p>・パソコン操作に慣れている。（この記事を読んでいる人はは慣れている人が多いと思いますが）</p><p>・HTMLが書ける。　　　　　　　　　　　　　　　　　　　・Javascript(ionicではJSの拡張言語を使います。)が書ける。</p><p>・CSS(拡張言語)が書ける。                        ・コマンドが使える(使えなくても可)。</p>  <p>といったことができればOKです。</p><p>ionicは、1つのコードを書くだけで、webサイト、ios,androidアプリが同時に配信できるという特徴があり、HTML5アプリ、ハイブリットアプリなどと呼ばれることが多くあります。</p><p>国産のMonacaや、Microsoft社のXamarinなど、他のフレームワークもあるのですが、Monacaには使用制限があったり、Xamarinは、使用されているC#という言語の学習コストが高かったりと、不便なところがあります。このようなことから、HTML5アプリのフレームワークを探しているのなら、ionicをお勧めします。</p><br><p>ちなみにこのサイトもionicで作られています。</p></div>

</ion-content>
