<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ポリシー</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-title>プライバシーポリシー</ion-title>
    <ion-card>
    <ion-card-title>当サイトのURLはhttps://montsp.me　です。
    </ion-card-title>
    <ion-card-content>また、当サイトは、エラーの際に備え、以下のURLも用意しております。また、URLの前にwwwをつけたサブドメインでもサイトは閲覧可能ですが、https://montsp.me　にリダイレクトされます。
    </ion-card-content>
    <ion-card><ion-card-content>https://montspme.netlify.app</ion-card-content></ion-card>
    <ion-card>
      <ion-card-title>個人情報利用の目的</ion-card-title>
      <ion-card-content>当サイトでは、お問い合わせや記事へのコメントの際、メールアドレス等の個人情報を入力いただく場合がございます。
        取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどをでご連絡する場合に利用させていただくものであり、これらの目的以外では利用いたしません。</ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-title>アクセス解析ツールについて</ion-card-title>
      <ion-card-content>当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。トラフィックデータは匿名で収集されており、個人を特定するものではありません。</ion-card-content>
    </ion-card>
  </ion-card>
  </ion-card>
  <ion-card>
    <ion-title>免責事項</ion-title>
    <ion-card>
      <ion-card-content>当サイトからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。
        また当サイトのコンテンツ・情報について、できる限り正確な情報を提供するように努めておりますが、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。
        当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。</ion-card-content>
    </ion-card>
    
  </ion-card>
  <ion-card>
    <ion-title>著作権について</ion-title>
    <ion-card>
      <ion-card-content>当サイトで掲載している文章や画像などにつきましては、無断転載することを禁止します。
        当ブログは著作権や肖像権の侵害を目的としたものではありません。著作権や肖像権に関して問題がございましたら、お問い合わせフォームよりご連絡ください。迅速に対応いたします。</ion-card-content>
    </ion-card>
  </ion-card>
  <ion-card>
    <ion-title>リンクについて</ion-title>
    <ion-card>
      <ion-card-content>当ブログは基本的にリンクフリーです。リンクを行う場合の許可や連絡は不要です。
        ただし、インラインフレームの使用や画像の直リンクはご遠慮ください。</ion-card-content>
    </ion-card>
  </ion-card>

</ion-content>
